In [1]:
import numpy as np
import pandas as pd
import lightgbm as lgb

In [2]:
data_path = '../data/'

In [33]:
train = pd.read_csv(data_path + 'train.csv', dtype={'msno' : 'category',
                                                'source_system_tab' : 'category',
                                                  'source_screen_name' : 'category',
                                                  'source_type' : 'category',
                                                  'target' : np.uint8,
                                                  'song_id' : 'category'})
test = pd.read_csv(data_path + 'test.csv', dtype={'msno' : 'category',
                                                'source_system_tab' : 'category',
                                                'source_screen_name' : 'category',
                                                'source_type' : 'category',
                                                'song_id' : 'category'})
songs = pd.read_csv(data_path + 'songs.csv',dtype={'genre_ids': 'category',
                                                  'language' : 'category',
                                                  'artist_name' : 'category',
                                                  'composer' : 'category',
                                                  'lyricist' : 'category',
                                                  'song_id' : 'category'})
members = pd.read_csv(data_path + 'members.csv',dtype={'city' : 'category',
                                                      'bd' : np.uint8,
                                                      'gender' : 'category',
                                                      'registered_via' : 'category'})
songs_extra = pd.read_csv(data_path + 'song_extra_info.csv')

In [36]:
songs_extra.head()

                                        song_id             name          isrc
0  LP7pLJoJFBvyuUwvu+oLzjT+bI+UeBPURCecJsX1jjs=               我們  TWUM71200043
1  ClazTFnk6r0Bnuie44bocdNMM3rdlrq0bCGAsGUWcHE=  Let Me Love You  QMZSY1600015
2  u2ja/bZE3zhCGxvbbOB3zOoUjx27u40cf5g09UXMoKQ=              原諒我  TWA530887303
3  92Fqsy0+p6+RHe2EoLKjHahORHR1Kq1TBJoClW9v+Ts=          Classic  USSM11301446
4  0QFmz/+rJy1Q56C1DuYqT9hKKqi5TUqx0sN0IwvoHrw=             愛投羅網  TWA471306001

In [34]:
songs_extra.song_id.unique().shape[0]

2295971

In [35]:
songs_extra.name.unique().shape[0]

1168980

In [32]:
songs_extra.head()

                                        song_id  song_year
0  LP7pLJoJFBvyuUwvu+oLzjT+bI+UeBPURCecJsX1jjs=     2012.0
1  ClazTFnk6r0Bnuie44bocdNMM3rdlrq0bCGAsGUWcHE=     2016.0
2  u2ja/bZE3zhCGxvbbOB3zOoUjx27u40cf5g09UXMoKQ=     2008.0
3  92Fqsy0+p6+RHe2EoLKjHahORHR1Kq1TBJoClW9v+Ts=     2013.0
4  0QFmz/+rJy1Q56C1DuYqT9hKKqi5TUqx0sN0IwvoHrw=     2013.0

In [4]:
song_cols = ['song_id', 'artist_name', 'genre_ids', 'song_length', 'language']
train = train.merge(songs[song_cols], on='song_id', how='left')
test = test.merge(songs[song_cols], on='song_id', how='left')

In [5]:
train.isnull().sum(axis=0)

msno                       0
song_id                    0
source_system_tab      18371
source_screen_name    414804
source_type            21539
target                     0
artist_name              114
genre_ids             118455
song_length              114
language                 150
dtype: int64

In [6]:
test.isnull().sum(axis=0)

id                         0
msno                       0
song_id                    0
source_system_tab       5096
source_screen_name    162883
source_type             7297
artist_name               25
genre_ids              42110
song_length               25
language                  42
dtype: int64

In [7]:
members.head()

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,1,0,NaN,7,20110820,20170920
1,UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=,1,0,NaN,7,20150628,20170622
2,D8nEhsIOBSoE6VthTaqDX8U6lqjJ7dLdr72mOyLya2A=,1,0,NaN,4,20160411,20170712
3,mCuD+tZ1hERA/o5GPqk38e041J8ZsBaLcu7nGoIIvhI=,1,0,NaN,9,20150906,20150907
4,q4HRBfVSssAFS9iRfxWrohxuk9kCYMKjHOEagUMV6rQ=,1,0,NaN,4,20170126,20170613

In [8]:
members['registration_year'] = members['registration_init_time'].apply(lambda x: int(str(x)[0:4]))
members['registration_month'] = members['registration_init_time'].apply(lambda x: int(str(x)[4:6]))
members['registration_date'] = members['registration_init_time'].apply(lambda x: int(str(x)[6:8]))

members['expiration_year'] = members['expiration_date'].apply(lambda x: int(str(x)[0:4]))
members['expiration_month'] = members['expiration_date'].apply(lambda x: int(str(x)[4:6]))
members['expiration_date'] = members['expiration_date'].apply(lambda x: int(str(x)[6:8]))
members = members.drop(['registration_init_time'], axis=1)

In [9]:
songs_extra.head()

                                        song_id             name          isrc
0  LP7pLJoJFBvyuUwvu+oLzjT+bI+UeBPURCecJsX1jjs=               我們  TWUM71200043
1  ClazTFnk6r0Bnuie44bocdNMM3rdlrq0bCGAsGUWcHE=  Let Me Love You  QMZSY1600015
2  u2ja/bZE3zhCGxvbbOB3zOoUjx27u40cf5g09UXMoKQ=              原諒我  TWA530887303
3  92Fqsy0+p6+RHe2EoLKjHahORHR1Kq1TBJoClW9v+Ts=          Classic  USSM11301446
4  0QFmz/+rJy1Q56C1DuYqT9hKKqi5TUqx0sN0IwvoHrw=             愛投羅網  TWA471306001

In [10]:
def isrc_to_year(isrc):
    if type(isrc) == str:
        if int(isrc[5:7]) > 17:
            return 1900 + int(isrc[5:7])
        else:
            return 2000 + int(isrc[5:7])
    else:
        return np.nan

In [11]:
songs_extra.isnull().sum(axis=0)

song_id         0
name            2
isrc       136548
dtype: int64

In [12]:
songs_extra.shape[0]

2295971

In [13]:
songs_extra['song_year'] = songs_extra['isrc'].apply(isrc_to_year)

In [14]:
songs_extra.head()

,song_id,name,isrc,song_year
0,LP7pLJoJFBvyuUwvu+oLzjT+bI+UeBPURCecJsX1jjs=,我們,TWUM71200043,2012.0
1,ClazTFnk6r0Bnuie44bocdNMM3rdlrq0bCGAsGUWcHE=,Let Me Love You,QMZSY1600015,2016.0
2,u2ja/bZE3zhCGxvbbOB3zOoUjx27u40cf5g09UXMoKQ=,原諒我,TWA530887303,2008.0
3,92Fqsy0+p6+RHe2EoLKjHahORHR1Kq1TBJoClW9v+Ts=,Classic,USSM11301446,2013.0
4,0QFmz/+rJy1Q56C1DuYqT9hKKqi5TUqx0sN0IwvoHrw=,愛投羅網,TWA471306001,2013.0

## song_id and name not the same!!!

In [15]:
songs_extra.song_id.unique().shape

(2295971,)

In [16]:
songs_extra.name.unique().shape

(1168980,)

In [17]:
songs_extra.drop(['isrc', 'name'], axis = 1, inplace = True)

In [18]:
songs_extra.head()

                                        song_id  song_year
0  LP7pLJoJFBvyuUwvu+oLzjT+bI+UeBPURCecJsX1jjs=     2012.0
1  ClazTFnk6r0Bnuie44bocdNMM3rdlrq0bCGAsGUWcHE=     2016.0
2  u2ja/bZE3zhCGxvbbOB3zOoUjx27u40cf5g09UXMoKQ=     2008.0
3  92Fqsy0+p6+RHe2EoLKjHahORHR1Kq1TBJoClW9v+Ts=     2013.0
4  0QFmz/+rJy1Q56C1DuYqT9hKKqi5TUqx0sN0IwvoHrw=     2013.0

In [19]:
train = train.merge(members, on='msno', how='left')
test = test.merge(members, on='msno', how='left')

train = train.merge(songs_extra, on = 'song_id', how = 'left')
test = test.merge(songs_extra, on = 'song_id', how = 'left')

In [20]:
# import gc
# del members, songs; gc.collect();

In [21]:
train.dtypes

msno                    object
song_id                 object
source_system_tab     category
source_screen_name    category
source_type           category
target                   uint8
artist_name           category
genre_ids             category
song_length            float64
language              category
city                  category
bd                       uint8
gender                category
registered_via        category
expiration_date          int64
registration_year        int64
registration_month       int64
registration_date        int64
expiration_year          int64
expiration_month         int64
song_year              float64
dtype: object

In [22]:
for col in train.columns:
    if train[col].dtype == object:
        train[col] = train[col].astype('category')
        test[col] = test[col].astype('category')

In [23]:
train.dtypes

msno                  category
song_id               category
source_system_tab     category
source_screen_name    category
source_type           category
target                   uint8
artist_name           category
genre_ids             category
song_length            float64
language              category
city                  category
bd                       uint8
gender                category
registered_via        category
expiration_date          int64
registration_year        int64
registration_month       int64
registration_date        int64
expiration_year          int64
expiration_month         int64
song_year              float64
dtype: object

In [24]:
X = train.drop(['target'], axis=1)
y = train['target'].values

X_test = test.drop(['id'], axis=1)
ids = test['id'].values

In [25]:
X.head()

,msno,song_id,source_system_tab,source_screen_name,source_type,artist_name,genre_ids,song_length,language,city,bd,gender,registered_via,expiration_date,registration_year,registration_month,registration_date,expiration_year,expiration_month,song_year
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,Bastille,359,206471.0,52.0,1,0,NaN,7,5,2012,1,2,2017,10,2016.0
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,Various Artists,1259,284584.0,52.0,13,24,female,9,11,2011,5,25,2017,9,1999.0
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,Nas,1259,225396.0,52.0,13,24,female,9,11,2011,5,25,2017,9,2006.0
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,Soundway,1019,255512.0,-1.0,13,24,female,9,11,2011,5,25,2017,9,2010.0
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,Brett Young,1011,187802.0,52.0,1,0,NaN,7,5,2012,1,2,2017,10,2016.0

In [30]:
X.shape

(7377418, 20)

In [26]:
# del train, test; gc.collect();

In [27]:
d_train = lgb.Dataset(X, y)
watchlist = [d_train]

In [28]:
params = {}
params['learning_rate'] = 0.2
params['application'] = 'binary'
params['max_depth'] = 8
params['num_leaves'] = 2**8
params['verbosity'] = 0
params['metric'] = 'auc'

In [28]:
model = lgb.train(params, train_set=d_train, num_boost_round=50, valid_sets=watchlist, \
verbose_eval=5)

[5]	training's auc: 0.706724
[10]	training's auc: 0.719225
[15]	training's auc: 0.727661
[20]	training's auc: 0.733512
[25]	training's auc: 0.737092
[30]	training's auc: 0.740358
[35]	training's auc: 0.742241
[40]	training's auc: 0.744615
[45]	training's auc: 0.747104
[50]	training's auc: 0.749305

In [32]:
model.feature_importance()

array([ 772,  142,   38,  204,  164,  695,   78, 1701,   25,   21,  527,
        164,    9,  646,  433,  495,  645,   84,  275, 1440])

In [70]:
p_test = model.predict(X_test)

In [73]:
p_test[:40]

array([ 0.53198974,  0.49821338,  0.23239579,  0.19362961,  0.19240476,
        0.20129315,  0.20129315,  0.62606016,  0.20129315,  0.62709511,
        0.61465312,  0.25960797,  0.34081771,  0.44827152,  0.29156611,
        0.49316938,  0.44827152,  0.47189795,  0.39895746,  0.7423059 ,
        0.84095432,  0.66584946,  0.6175415 ,  0.58373048,  0.62709511,
        0.65666317,  0.61910538,  0.62709511,  0.63888669,  0.5953923 ,
        0.59499148,  0.62308298,  0.61910538,  0.65666317,  0.3228506 ,
        0.28485795,  0.33696527,  0.298004  ,  0.62709511,  0.62709511])