In [2]:
import pandas as pd
from datetime import datetime

In [1]:
train = pd.read_csv("train.csv")
train.head()

NameError: name 'pd' is not defined

In [4]:
msno = train.drop('is_churn',1)

In [5]:
tran = pd.read_csv("transactions.csv")

In [6]:
new = pd.merge(left=msno, right=tran, how="left", on='msno')

In [7]:
new.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,38.0,7.0,0.0,0.0,0.0,20161031.0,20161107.0,0.0
1,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,38.0,30.0,149.0,149.0,0.0,20170107.0,20170206.0,0.0
2,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39.0,30.0,149.0,149.0,1.0,20161031.0,20161221.0,0.0
3,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39.0,30.0,149.0,149.0,1.0,20160715.0,20160821.0,0.0
4,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39.0,30.0,149.0,149.0,1.0,20160831.0,20161021.0,0.0

In [8]:
transation = new
transation.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15802720 entries, 0 to 15802719
Data columns (total 9 columns):
msno                      object
payment_method_id         float64
payment_plan_days         float64
plan_list_price           float64
actual_amount_paid        float64
is_auto_renew             float64
transaction_date          float64
membership_expire_date    float64
is_cancel                 float64
dtypes: float64(8), object(1)
memory usage: 1.2+ GB

In [9]:
transation["payment_method_id"].isnull().value_counts()

False    15802651
True           69
Name: payment_method_id, dtype: int64

In [10]:
transation["payment_method_id"] = transation["payment_method_id"].apply(lambda x: int(x) if pd.notnull(x) else "NaN")

In [11]:
transation = transation[transation["payment_method_id"] != "NaN"]

In [12]:
transation.isnull().sum()

msno                      0
payment_method_id         0
payment_plan_days         0
plan_list_price           0
actual_amount_paid        0
is_auto_renew             0
transaction_date          0
membership_expire_date    0
is_cancel                 0
dtype: int64

In [16]:
transation["payment_plan_days"] = transation["payment_plan_days"].apply(lambda x: int(x))
transation["is_cancel"] = transation["is_cancel"].apply(lambda x: int(x))
transation["plan_list_price"] = transation["plan_list_price"].apply(lambda x: int(x))
transation["actual_amount_paid"] = transation["actual_amount_paid"].apply(lambda x: int(x))
transation["is_auto_renew"] = transation["is_auto_renew"].apply(lambda x: int(x))

/Users/gross/anaconda/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/gross/anaconda/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/gross/anaconda/lib/python3.5/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/gross/anaconda/lib/python3.5/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/gross/anaconda/lib/python3.5/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [17]:
transation.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,38,7,0,0,0,20161031.0,20161107.0,0
1,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,38,30,149,149,0,20170107.0,20170206.0,0
2,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,20161031.0,20161221.0,0
3,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,20160715.0,20160821.0,0
4,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,20160831.0,20161021.0,0

In [19]:
transation["transaction_date"] = transation["transaction_date"].apply(lambda x:datetime.strptime(str(int(x)), '%Y%m%d').date())

transation["membership_expire_date"] = transation["membership_expire_date"].apply(lambda x:datetime.strptime(str(int(x)), '%Y%m%d').date())

/Users/gross/anaconda/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
transation.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,38,7,0,0,0,2016-10-31,20161107.0,0
1,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,38,30,149,149,0,2017-01-07,20170206.0,0
2,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2016-10-31,20161221.0,0
3,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2016-07-15,20160821.0,0
4,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2016-08-31,20161021.0,0

In [21]:
transation["membership_expire_date"] = transation["membership_expire_date"].apply(lambda x:datetime.strptime(str(int(x)), '%Y%m%d').date())

/Users/gross/anaconda/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
transation.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,38,7,0,0,0,2016-10-31,2016-11-07,0
1,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,38,30,149,149,0,2017-01-07,2017-02-06,0
2,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2016-10-31,2016-12-21,0
3,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2016-07-15,2016-08-21,0
4,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2016-08-31,2016-10-21,0

In [23]:
transation.to_csv("transation_new.csv")

In [28]:
a = pd.read_csv("transation_new.csv",index_col=0)

/Users/gross/anaconda/lib/python3.5/site-packages/numpy/lib/arraysetops.py:395: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [29]:
a.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,38,7,0,0,0,2016-10-31,2016-11-07,0
1,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,38,30,149,149,0,2017-01-07,2017-02-06,0
2,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2016-10-31,2016-12-21,0
3,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2016-07-15,2016-08-21,0
4,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2016-08-31,2016-10-21,0

In [30]:
a

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,38,7,0,0,0,2016-10-31,2016-11-07,0
1,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,38,30,149,149,0,2017-01-07,2017-02-06,0
2,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2016-10-31,2016-12-21,0
3,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2016-07-15,2016-08-21,0
4,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2016-08-31,2016-10-21,0
5,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2015-12-02,2016-01-21,0
6,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2016-11-30,2017-01-21,0
7,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2016-07-31,2016-09-21,0
8,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,31,149,149,1,2015-01-31,2015-03-21,0
9,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2015-08-31,2015-10-21,0
10,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2017-02-24,2017-03-21,1
11,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2015-05-31,2015-07-21,0
12,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2016-09-30,2016-11-21,0
13,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2016-05-05,2016-06-21,1
14,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2016-01-31,2016-03-21,0
15,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,0,0,149,1,2015-04-30,2015-06-21,0
16,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2015-09-30,2015-11-21,0
17,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2015-07-31,2015-09-21,0
18,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2015-11-02,2015-12-21,0
19,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,36,30,180,180,0,2016-06-21,2016-07-21,0
20,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2015-06-30,2015-08-21,0
21,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2016-12-31,2017-02-21,0
22,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,31,149,149,1,2015-03-31,2015-05-21,0
23,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,31,149,149,1,2015-02-28,2015-04-21,0
24,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,39,30,149,149,1,2017-01-31,2017-03-21,0
25,fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=,39,30,149,149,1,2017-01-12,2017-02-03,1
26,fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=,39,30,149,149,1,2016-12-31,2017-02-03,0
27,fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=,36,30,150,150,0,2016-02-02,2016-03-03,0
28,fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=,39,30,149,149,1,2016-07-31,2016-09-03,0
29,fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=,39,30,149,149,1,2016-04-04,2016-05-03,0
...,...,...,...,...,...,...,...,...,...
15802690,AIYvISqKe0Zu69cK+MG/Nx1w+FPyKPKNe9DGmH1+3HA=,41,30,99,99,1,2017-01-26,2017-02-26,0
15802691,AIYvISqKe0Zu69cK+MG/Nx1w+FPyKPKNe9DGmH1+3HA=,41,30,99,99,1,2017-02-26,2017-03-26,0
15802692,qqGJOfNXV0DTmf7Xhtc9QsnpezAD1Whae6D1hiw8gvA=,41,30,100,100,1,2017-01-27,2017-02-26,0
15802693,qqGJOfNXV0DTmf7Xhtc9QsnpezAD1Whae6D1hiw8gvA=,41,30,100,100,1,2017-02-26,2017-03-26,0
15802694,60v22N2HNRWieSXB5FKYAg33Xw183r5RG7hVHY2nues=,41,30,99,99,1,2017-02-26,2017-03-26,0
15802695,60v22N2HNRWieSXB5FKYAg33Xw183r5RG7hVHY2nues=,41,30,99,99,1,2017-01-27,2017-02-26,0
15802696,lzvc4Cr7QPB9vs+22IICE4hSiWtgR6IzlreHu/QYOLs=,41,30,99,99,1,2017-01-28,2017-02-27,0
15802697,lzvc4Cr7QPB9vs+22IICE4hSiWtgR6IzlreHu/QYOLs=,41,30,99,99,1,2017-02-27,2017-03-27,0
15802698,uB5gP4GFQ2Iu/wHni/JEFoOsk7YqK9uDjxCodFsYEjs=,41,30,100,100,1,2017-02-27,2017-03-27,0
15802699,uB5gP4GFQ2Iu/wHni/JEFoOsk7YqK9uDjxCodFsYEjs=,41,30,100,100,1,2017-01-28,2017-02-27,0
15802700,ojlziAF/1xBRqkOHHIGryvS36JHoFkQi8EZXMeFAj4c=,41,30,100,100,1,2017-02-27,2017-03-27,0
15802701,ojlziAF/1xBRqkOHHIGryvS36JHoFkQi8EZXMeFAj4c=,41,30,100,100,1,2017-01-28,2017-02-27,0
15802702,4JdLMMQFrdrky/+tlc9DIpseSdGC7giak1JH2icg/l8=,41,30,100,100,1,2017-02-28,2017-03-31,0
15802703,4JdLMMQFrdrky/+tlc9DIpseSdGC7giak1JH2icg/l8=,41,30,100,100,1,2017-01-28,2017-02-28,0
15802704,AkluQxz947GHW4Y/kWWgocI04EjDNVQUZpes+5VmWek=,41,30,129,129,1,2017-01-29,2017-02-28,0
15802705,AkluQxz947GHW4Y/kWWgocI04EjDNVQUZpes+5VmWek=,41,30,129,129,1,2017-02-28,2017-03-31,0
15802706,xC4Mahxw+X2H9E5gwE0Bb/c1NliMLT5yAca80U4Hck8=,41,30,100,100,1,2017-01-31,2017-02-28,0
15802707,xC4Mahxw+X2H9E5gwE0Bb/c1NliMLT5yAca80U4Hck8=,41,30,100,100,1,2017-02-28,2017-03-31,0
15802708,+vvehvMxda8/6O4Yf+Aq9PELkx5mlsb1wtcuTb9PsR4=,41,30,100,100,1,2017-01-31,2017-02-28,0
15802709,+vvehvMxda8/6O4Yf+Aq9PELkx5mlsb1wtcuTb9PsR4=,41,30,100,100,1,2017-02-28,2017-03-31,0
15802710,tUM0yxAj50Vc35vQZ++xMlomdyeLJUW9lEcoPnt3H+g=,39,30,149,149,1,2017-02-28,2017-03-31,0
15802711,tUM0yxAj50Vc35vQZ++xMlomdyeLJUW9lEcoPnt3H+g=,39,30,149,149,1,2017-02-01,2017-02-28,0
15802712,KQS8etmfGgvE/7Y9gK+E9wdLnRTI0lyyPXaXL3I8E4c=,17,60,0,0,0,2017-02-19,2017-02-22,0
15802713,8/jDLgNREuWI9hcKVYp8723nmavn01T+AuMWkK3uM7g=,41,30,100,100,1,2017-02-11,2017-02-11,1
15802714,8/jDLgNREuWI9hcKVYp8723nmavn01T+AuMWkK3uM7g=,41,30,100,100,1,2017-02-11,2017-03-10,0
15802715,iNV99F1Rml7EMndOeLI0Y/iek6aCj/Qp1Z4dZvR+sak=,41,30,100,100,1,2017-02-15,2017-02-15,1
15802716,iNV99F1Rml7EMndOeLI0Y/iek6aCj/Qp1Z4dZvR+sak=,41,30,100,100,1,2017-02-15,2017-03-14,0
15802717,iNV99F1Rml7EMndOeLI0Y/iek6aCj/Qp1Z4dZvR+sak=,41,30,100,100,1,2017-02-15,2017-03-14,0
15802718,ZoVEIVMCpKT9/MJgqO+fh9xYrNM2vNisLhJ4xY/CVyk=,30,30,129,129,1,2017-02-28,2017-02-28,1
15802719,ZoVEIVMCpKT9/MJgqO+fh9xYrNM2vNisLhJ4xY/CVyk=,30,30,129,129,1,2017-02-28,2017-03-27,0